body {
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)),url("virus.jpg");
  background-color: #000000;
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-attachment: fixed;
  color: black;
}
.critical{
  color:darkgoldenrod;
}
.recovered{
  color:#34A853;
}
.deaths{
  color:#EA4335;
}
.active{
  color:#4285F4;
}
.confirmed{
  color:darkblue;
}
.chart{
  width:100%;
}
.carouselimg{
  height:250px;
  width:400px;
  object-fit:cover;
}
#mapid { 
  height: 250px; 
  margin-top: 30px;
  margin-bottom:50px;
}
#globalPieChart{
  margin-top:30px;
  margin-bottom:20px;
}
.imageSmall{
  width:120px;
  height:auto;
  margin:10px;
  vertical-align: middle !important;
  float: left;
}
.news{
  width:100%;
  border:solid;
  border-radius: 20px;
  border-width:1px;
  margin-top:10px !important;
  margin-right:0px !important;
  margin-left:0px !important;
  background-color:rgba(255, 255, 255, 255,0.9) !important;
  display:table;
}
.caption{
  background-color:rgba(0, 0, 0, 0.5);
}
h1{
  margin:20px;
}
h5{
  margin-top:10px;
}
a {
  color: black;
}
a:hover{
  text-decoration:underline;
  margin-top:5px;
}
.caption{
  font-size:90%;
}
.chartWrapper{
  position: relative;
  padding-right: 100%;
  width: 0;
  overflow:hidden;
}
.chart {
  top: 0;
  left: 0;
  height:100%;
  width:250px;
  margin: 15px;
}
.chartv {

  margin-bottom: 40px;
}
.row{
  justify-content:center;
}
